<div class="main users_edit_container">
  <div class="container">

    <h1>User Info Edit</h1>
    <%= form_tag("/users/#{@user.id}/update",{multipart:true})do%>
    <div class="form users-form">
      <div class="form-body">

        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <p>User Name:</p>
        <input name="name" value="<%=@user.name%>">
        <p>Image:</p>
        <input type="file" name="image">
        <p>Email:</p>
        <input name="email" value="<%=@user.email%>">
        <p>What you like:</p>
        <li class="user-like-input">
            <span class="fa fa-heart"></span>
            <input name="user-like1" value="" placeholder="ex) Love Movies">
        </li>
        <li class="user-like-input">
            <span class="fa fa-heart"></span>
            <input name="user-like2" value="" placeholder="ex) Classic">
        </li>
        <li class="user-like-input">
            <span class="fa fa-heart"></span>
            <input name="user-like3" value="" placeholder="ex) Woody Allen">
        </li>
        <p>About you:</p>
        <textarea name="" id="" rows="5" placeholder="Introduce about your self briefly :)"></textarea>
        
        <input type="submit" value="編集する">

      </div>
    </div>
    <% end %>

  </div>
</div>
