<div class="main users_show_container">
  <div class="container">

    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name%></h2>
      <p><%= @user.email%></p>
      <%if @current_user.id==@user.id%>
      <div class="user-menus">
        <%=link_to("編集","/users/#{@user.id}/edit")%>
      </div>
      <%end%>
    </div>

  </div>
</div>
