<div class="main home_top_container">

  <div class="container">

    <div class="top-main">
      <div class="top-message">
        <h2>Feel the nature and see the world!!</h2>
        <h2>Let's log your trekking.</h2>
      </div>
      <a href="/signup" class="btn">
        Sign up
      </a>
    </div>

  </div>

</div>
<img src="/cite_image/cloudImg.png" alt="cloudImg1" class="cloudImg1" />

<div class="main home_about_container">

</div>