<div class="main home_top_container">

  <div class="container">

    <div class="top-main">
      <div class="top-message">
        <img src="/cite_image/topLogo.png" alt="topLogo" />
        <h1>YAMALOG</h1>
        <p>Let's log your trekking.</p>
      </div>
    </div>

  </div>

</div>

<div class="main home_about_container">

  <img src="/cite_image/cloudImg.png" alt="cloudImg1" class="cloudImg1" />
  <img src="/cite_image/cloudImg2.png" alt="cloudImg2" class="cloudImg2" />
  <div class="about-text">
    <h2>What you can do</h2>
    <hr>
    <h3>Post a new trekking log.</h3>
  </div>
</div>