<div class="main home_top_container">

  <div class="container">

    <div class="top-main">
      <div class="top-message">
        <!-- <img src="/cite_image/yamalogLogo.png" /> -->
        <h1>YAMALOG</h1>
        <h2>Let's log your trekking.</h2>
      </div>
    </div>

  </div>

</div>


<div class="main home_about_container">
  <img src="/cite_image/cloudImg.png" alt="cloudImg1" class="cloudImg1" />
  <img src="/cite_image/cloudImg2.png" alt="cloudImg2" class="cloudImg2" />
  <h1>aaaa</h1>
</div>