<div class="main home_top_container">

  <div class="container">

    <div class="top-main">
      <div class="top-message">
        <h2>映画、本、漫画、舞台・・</h2>
        <h2>あなたの娯楽をまとめて記録しませんか？</h2>
        <p>Entame Logは娯楽の備忘録として、お気に入りや感想を簡単に保存することができるサイトです。</p>
        <p>友達のお気に入りをチェックしたり、シェアすることもできます。</p>
      </div>
      <a href="/signup" class="btn">
          さっそく新規会員登録する
      </a>
    </div>


  </div>

</div>
