<header id="home_top_container">

  <div class="container">

    <div class="top-main">
      <div class="top-message">
        <p>WELCOME TO</p>
        <h1>YAMALOG</h1>
        <p>HAVE FUN!</p>
        <div class="arrow bounce">
          <a class="fa fa-arrow-down fa-4x" href="#home_about_container"></a>
        </div>
      </div>
      <div class="designUrl">
        <a href="http://www.freepik.com">Designed by upklyak / Freepik</a>
      </div>
    </div>

  </div>

</header>

<div id="home_about_container">

  <div class="about-text">
    <div class="abouts">
      <h2>What is YAMALOG?</h2>
      <hr>
      <p>Are you a mountain lover? Are you searching for an application that you can post your trekking diary and make
        hiking buddies? </p>
      <p>This is an ideal app for you! </p>
      <p>You can create your own account, post and share some trekking diaries with beautiful picture that you took,
        'like' other friends posts. </p>
      <p>All your personal information are protected and your posted datas will be saved on SQLite database. </p>
      <h4>Let’s give it a try!</h4>
      <h4>👇</h4>
      <div class="loginSignin">
        <%= link_to("/signup") do %>
        <h1>LOG IN</h1>
        <% end %>
        <%= link_to("/login") do %>
        <h1>SIGN IN</h1>
        <% end %>
      </div>
    </div>
  </div>

</div>