<div class="main posts-edit-container">
  <div class="container">
    <h1>Post Edit</h1>
    <%= form_tag("/posts/#{@post.id}/update", {multipart:true}) do %>
    <div class="new-top">
      <% @post.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
      <% end %>

      <div class="top right">
        <!-- <div class="content">
          <p>Image</p>
          <input type="file" name="image" value="choose image file">
        </div> -->
        <div class="content">
          <p>Title</p>
          <input type="text" name="title" value="<%=@post.title%>">
        </div>
      </div>
    </div>

    <div class="valuation_item">
    </div>

    <div class="comment">
      <p>Content</p>
      <textarea name="comment"><%=@post.comment%></textarea>
    </div>
    <div class="create-btn">
      <input class="btn" type="submit" value="EDIT">
    </div>
    <% end %>

  </div>
</div>