<div class="main posts-new-container">
  <div class="container">
    <h1 class="posts-new-heading">New Post</h1>

    <%= form_tag("/posts/create", {multipart:true}) do %>
    <div class="new-top">
      <% @post.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
      <% end %>

      <div class="posts-new-contents">
        <div class="content">
          <p>Select image: </p>
          <input type="file" name="image" value="Select image">
        </div>
        <div class="content">
          <p>Title: </p>
          <input type="text" name="title" value="<%=@post.title%>">
        </div>

      </div>
    </div>

    <div class="comment" style="text-align: center;">
      <p>Text: </p>
      <textarea name="comment" rows="8" cols="80"><%=@post.comment%></textarea>
    </div>
    <div class="create-btn">
      <input class="btn" type="submit" value="  Post  ">
    </div>
    <% end %>

  </div>
</div>