// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* posts/index ================================ */

// .posts-index-item-top {
//   display: flex;
// }

// .posts-index-item {
//   padding: 20px 30px;
//   background-color: white;
//   overflow: hidden;
//   box-shadow: 0 2px 6px #c1ced7;

  
// }

// .post-right {
//   .user_name {
//     font-size: 18px;
//   }
  
//   .created_at {
//     i {
//       // float: left;
//       line-height: 25px;
//       margin-right: 10px;
//     //   padding-right: 10px;
//     }
//   }
  
// }

// .posts-index-item-content {
//   .post_comment {
//     width: 85%;
//   }

//   .like_and_star {
//     display: flex;
//     justify-content: flex-end;
//     margin-left: auto;
//     text-align: right;
//     .like-count {
//       margin-left: 5px;
//     }
//   }
// }

.posts_index_container {
  .row {
    box-shadow: 0 2px 6px #c1ced7;
    background-color: #fff;
    a {
      text-decoration: none;
      color: #545454;
    }
    a:hover {
      color: #c1ced7;
    }
    .work-img img {
      height: 38vh;
      width: 100%;
    }
  
    .post-content {   
      img {
        width: 8vh;
        height: 8vh;
        border-radius: 50%;
        box-shadow: 0 2px 6px #c1ced7;
        margin: 2vh;
        object-fit: cover;
      }
      .user-img-name-created {
        display: flex;
        line-height: 12vh;
        h3, p{
          line-height: 12vh;
        }
      }
      .posts_title_comment {
        .post_comment {
          height: 10vh;
          overflow: auto;
          color: #8a8881;
        }
      }
      .like {
        display: flex;
        justify-content: flex-end;
      }
      .post-menus {
        display: flex;
        justify-content:flex-end;
        a {
          text-decoration: underline;
        }
      }   
    } 
  } 
}

/* posts/new ================================ */
.posts-new-container {
  .posts-new-heading {
    font-size: 30px;
    color: #bcc8d4;
    text-align: center;
  }
  .new-top {
    .posts-new-contents {
      margin: 5% auto;
      width: 80%;
      // img{
      //   width: 280px;
      //   height: 100%;
      //   border-radius: 5%;
      //   box-shadow: 0 2px 6px #c1ced7;
      //   object-fit: cover;
      //   margin-right: 35px;
      // }
      .content {
        padding-bottom: 30px;
        .select-stars option {
          .fa-star {
            color: aqua;
          }
        }
        .text {
          margin: 10px;
        }
      }
    }
  }

  .create-btn {
    .btn {
      display: block;
      margin: 2% auto;
      font-size: 20px;
      padding: 0 25px;
      min-height: 45px;
      background-color: #a9a9a9;
      box-shadow: 0 3px rgb(117, 117, 117);
      opacity: 0.8;
      resize: none;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      &:active {
        position: relative;
        top: 6px;
        box-shadow: none;
        user-select: none;
      }
    }
  }
}

.post-menus {
  text-align: right;
  a,
  input {
    color: #8899a6;
    text-decoration: underline;
    font-size: 14px;
  }
}

/* posts/show ================================ */

.post-user-name {
  img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
  }
}

.post-title {
  font-size: 35px;
  margin: 1% 15%;
  font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

.posts-show-img img {
  width: 60%;
  display: block;
  margin: 15px auto;
}

.posts-show-index {
  margin: 1% 15%;
  font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: left;
}

.posts-show-comment {
  text-align: center;
  margin: 15px;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

/* posts/edit ================================ */
.posts-edit-container {
  h1 {
    font-weight: 300;
    font-size: 48px;
    // color: #bcc8d4;
    font-family: "Bradley Hand";
    text-align: center;
  }

  .container {
    width: 60%;
    text-align: left;
  }

  .create-btn {
    .btn {
      display: block;
      margin: 2% 0;
      font-size: 20px;
      padding: 5px 15px;
      min-height: 30px;
      background-color: #a9a9a9;
      box-shadow: 0 3px rgb(117, 117, 117);
      opacity: 0.8;
      resize: none;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      &:active {
        position: relative;
        top: 6px;
        box-shadow: none;
        user-select: none;
      }
    }
  }
}
