// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* users/index ================================ */

.users_index_container {
  .card { 
    box-shadow: 0 2px 6px #c1ced7;
    height: 65vh;
    img {
      height: 35vh;
    }
    .card-body {
      overflow: auto;
      h3 {
        a {
          color: #545454;
          text-decoration: none;
        }
        a:hover {
          color: #c1ced7;
        }
      }
    }
  }
}

/* users/show ================================ */
.users-info {
background-color: #7686ff;
color: #fff;
max-width: 100%;
padding: 5% 10% 0 10%;

  .users-show-info {
    .user {
      
      img {
        width: 250px;
        height: 250px; 
        margin: 5% auto;
        box-shadow: 0 2px 6px #c1ced7;
        object-fit: cover;
        text-align: center;
        display: block;
      }
      a {
        color: #8899a6;
        text-decoration: underline;
        font-weight: 200;
      }
    }
    .about,
    .likes {
      margin-top: 20px;
      p {
        margin-top: 10px;
      }
    }
  } 

  .user-tabs {
    overflow: hidden;
    li {
      float: left;
    }
    li.active {
      border-bottom: 2px solid #fff;
    }
    li.active a {
      color: #fff;
      text-decoration: none;
    }
    a {
      display: inline-block;
      padding: 16px 30px;
      color: #afb6bf;
      text-decoration: none;
    }
  }
}

.user-show-posts{
  .row {
    box-shadow: 0 2px 6px #c1ced7;
    background-color: #fff;
    display: block;
    margin-right: 0;
    margin-left: 0;
    a {
      text-decoration: none;
      color: #545454;
    }
    a:hover {
      color: #c1ced7;
    }
    .work-img img {
      height: 38vh;
      width: 100%;
    }

    .post-content {   
      img {
        width: 8vh;
        height: 8vh;
        border-radius: 50%;
        box-shadow: 0 2px 6px #c1ced7;
        margin: 2vh;
        object-fit: cover;
      }
      .user-img-name-created {
        display: flex;
        line-height: 12vh;
        h3, p{
          line-height: 12vh;
        }
      }
      .posts_title_comment {
        .post_comment {
          height: 10vh;
          overflow: auto;
          color: #8a8881;
        }
      }
      .like {
        display: flex;
        justify-content: flex-end;
      }
      .post-menus {
        display: flex;
        justify-content:flex-end;
        a {
          text-decoration: underline;
        }
      }   
    } 
  } 
}

/* users/new ================================ */
.users-form input {
  margin-bottom: 15px;
}

/* users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}

.users_edit_container {
  h1 {
    color: #bcc8d4;
    text-align: center;
  }

  .user-like-input {
    display: flex;
    span {
      // line-height: 35px;
      margin: 0 20px;
      line-height: 40px;
    }
  }
  
  textarea{
    width: 100%;
    height: 200px;
  }
}
