// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* users/index ================================ */
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

.users-index-item{
  .user-left img{
    width: 80px;
    height: 80px;
    border-radius: 20%;
    box-shadow: 0 2px 6px #c1ced7;
    margin: 20px 0 10px;
    object-fit: cover;
  }
}



/* users/show ================================ */

.user {
  margin-bottom: 20px;
  width: 50%;
  float: left;


    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      box-shadow: 0 2px 6px #c1ced7;
      margin: 8px 0 10px;
      object-fit: cover;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
    }

    p {
      font-size: 13px;
      margin-bottom: 15px;
    }

    a {
      color: #8899a6;
      text-decoration: underline;
      font-weight: 200;
    }

    span {
      color: #afb6bf;
      font-weight: 200;
      padding: 0 6px 0 8px;
    }
}

.left{
  text-align: center;
}

.right{
  margin: 20px auto;
}

.clear{
  clear: left;
}

.about{
  margin-top: 20px;
  p{
    margin-top: 10px;
  }
}

.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}



/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}
