// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* users/index ================================ */
.users_index_container {
  h1 {
  font-weight: 300;
  font-size: 48px;
  // color: #bcc8d4;
  font-family: 'Bradley Hand';
  text-align: center;
  margin: 3% 0;
  }
}

.users-index-item {
  padding: 3% 10%;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;

  .user-left img{
    width: 80px;
    height: 80px;
    border-radius: 20%;
    box-shadow: 0 2px 6px #c1ced7;
    margin: 20px 0 10px;
    object-fit: cover;
  }
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: #3ecdc6;
}

.user-right {
  width: 60%;
  right: 0;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}


/* users/show ================================ */
.users-show-info {
  display: flex;
  justify-content: space-evenly;
}

.user {
  margin-bottom: 20px;
  width: 50%;
  float: left;


    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      box-shadow: 0 2px 6px #c1ced7;
      margin: 8px 0 10px;
      object-fit: cover;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
    }

    p {
      font-size: 13px;
      margin-bottom: 15px;
    }

    a {
      color: #8899a6;
      text-decoration: underline;
      font-weight: 200;
    }

    span {
      color: #afb6bf;
      font-weight: 200;
      padding: 0 6px 0 8px;
    }
}

.left{
  text-align: center;
}

.right{
  margin: 20px auto;
}

.clear{
  clear: left;
}

.about{
  margin-top: 20px;
  p{
    margin-top: 10px;
  }
}

.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}


/* users/new ================================ */
.users-form input {
  margin-bottom: 15px;
}


/* users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}

.users_edit_container {
  h1 {
    font-weight: 300;
    font-size: 48px;
    color: #bcc8d4;
    font-family: "Bradley Hand";
    text-align: center;
  }

  .user-like-input {
    display: flex;
    span {
      // line-height: 35px;
      margin: 0 20px;
      line-height: 35px;
    }
  }
}

